<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.1" targetFramework="net472" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net472" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="jQuery" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net472" />
  <package id="TogglSwitch" version="1.0.1" targetFramework="net472" />
</packages>